<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - HorizonCalculator</title>
        <link rel="stylesheet" href="~/css/site.css" />
    </head>

    <body>
        <form>
            <label>Observer Height (m)</label>
            <input type="number" />

            <label>Object Height (m)</label>
            <input type="number" />

            <label>Observer Object Distance (km)</label>
            <input type="number" />
        </form>
    </body>
</html>