@model HorizonCalculator.Models.Calculations;

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - HorizonCalculator</title>
        <link rel="stylesheet" href="~/css/site.css" />
    </head>

    <body>
        <form action="/Calculations" method="post">
            <label>Observer Height (m)</label>
            <input type="number" name="ObserverHeight" />

            <label>Object Height (m)</label>
            <input type="number" name="ObjectHeight" />

            <label>Observer Object Distance (km)</label>
            <input type="number" name="ObserverObjectGeographicalDistance" />

            <button type="submit">Calculate</button>
        </form>
    </body>
</html>