@model HorizonCalculator.Models.Calculations;

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - HorizonCalculator</title>
        <link rel="stylesheet" href="~/css/site.css" />
    </head>

    <body align="center">
        <style>
            img {
                max-width: 100%;
                height: auto;
            }
        </style>
        <img src="~/EarthVision.png" alt="Illustration Of Non-Refracted Vision On Earth" />

        <form action="/Calculations" method="post">

            <label>Observer Height (m)</label>
            <input type="number" name="ObserverHeight" value=@Model.ObserverHeight />
            <br />

            <label>Object Height (m)</label>
            <input type="number" name="ObjectHeight" value=@Model.ObjectHeight />
            <br />

            <label>Distance Between Observer and Object (km)</label>
            <input type="number" name="ObserverObjectGeographicalDistance" value=@Model.ObserverObjectGeographicalDistance />
            <br />

            <button type="submit">Calculate</button>

        </form>

        @if(Model.ObserverHeight > 0)
        {
            <p>With a height of @Model.ObserverHeight m above sea level, the horizon is @Model.ObserverHorizonGeographicalDistance km far away.</p>
        }

        @if (Model.ObjectHeight == Model.VisibleObjectHeight && Model.ObserverHeight > 0)
        {
            <p>The Object is fully visible</p>
        }

    @if (Model.VisibleObjectHeight > 0 && Model.VisibleObjectHeight < Model.ObjectHeight && (Model.ObjectHeight > 0 || Model.ObserverHeight > 0))
        {
            <p>Only the top @Model.VisibleObjectHeight meters of the Object are visible</p>
        }

    @if (Model.VisibleObjectHeight <= 0 && Model.VisibleObjectHeight < Model.ObjectHeight && (Model.ObjectHeight > 0 || Model.ObserverHeight > 0))
        {
            <p>Object is no longer visible</p>
        }

    </body>
</html>